:root {
    --color-div-default: hsl(0, 0%, 55%);
    --color-div-primary: hsl(270, 75%, 55%);
    --color-div-success: hsl(120, 75%, 55%);
    --color-div-info: hsl(200, 75%, 55%);
    --color-div-warning: hsl(40, 75%, 55%);
    --color-div-danger: hsl(0, 75%, 55%);
    --color-div-default-bg: hsl(0, 0%, 95%);
    --color-div-primary-bg: hsl(270, 75%, 95%);
	--color-div-success-bg: hsl(120, 75%, 95%);
    --color-div-info-bg: hsl(200, 75%, 95%);
    --color-div-warning-bg: hsl(40, 75%, 95%);
    --color-div-danger-bg: hsl(0, 75%, 95%);  
    --color-label-default: hsl(0, 0%, 95%);
    --color-label-primary: hsl(270, 90%, 95%);
    --color-label-success: hsl(128, 90%, 95%);
    --color-label-info: hsl(198, 90%, 95%);
    --color-label-warning: hsl(45, 90%, 95%);
    --color-label-danger: hsl(352, 90%, 95%);
}
[data-theme="dark"] {
    --color-div-default: hsl(0, 0%, 55%);
    --color-div-primary: hsl(270, 25%, 55%);
    --color-div-success: hsl(120, 25%, 55%);
    --color-div-info: hsl(200, 25%, 55%);
    --color-div-warning: hsl(40, 25%, 55%);
    --color-div-danger: hsl(0, 25%, 55%);
    --color-div-default-bg: hsl(0, 0%, 15%);
    --color-div-primary-bg: hsl(270, 5%, 15%);
	--color-div-success-bg: hsl(120, 5%, 15%);
    --color-div-info-bg: hsl(200, 5%, 15%);
    --color-div-warning-bg: hsl(40, 5%, 15%);
    --color-div-danger-bg: hsl(0, 5%, 15%); 
    --color-label-default: hsl(0, 0%, 35%);
    --color-label-primary: hsl(270, 35%, 35%);
    --color-label-success: hsl(128, 35%, 35%);
    --color-label-info: hsl(198, 35%, 35%);
    --color-label-warning: hsl(45, 35%, 35%);
    --color-label-danger: hsl(352, 35%, 35%);
}
// 自定义引用边框
p#div-danger, p#div-warning, p#div-success, p#div-info, p#div-primary, p#div-default {
    padding: 0.5em 1em;
    border-left: 3px solid;
    font-family: 'EB Garamond', 'STKaiti', 'KaiTi', 'SimKai', 'Noto Serif SC', serif;
}
p#div-danger {
    background: var(--color-div-danger-bg);
    border-left-color: var(--color-div-danger);
}
p#div-warning {
    background: var(--color-div-warning-bg);
    border-left-color: var(--color-div-warning);
}
p#div-success {
    background: var(--color-div-success-bg);
    border-left-color: var(--color-div-success);
}
p#div-info {
    background: var(--color-div-info-bg);
    border-left-color: var(--color-div-info);
}
p#div-info::before {
    background-image: "/images/wechat.svg"
}
p#div-primary {
    background: var(--color-div-primary-bg);
    border-left-color: var(--color-div-primary);
}
p#div-default {
    background: var(--color-div-default-bg);
    border-left-color: var(--color-div-default);
}
.blockquote-center::after, .blockquote-center::before {
    background-repeat: no-repeat;
    background-size: 22px 22px;
    content: ' ';
    display: block;
    height: 24px;
    opacity: .2;
    //position: absolute;
    width: 100%;
}
.blockquote-center::before {
    background-image: url(../images/quote-l.svg);
    background-position: 0 -6px;
    border-top: 1px solid var(--color-contrast-low);
    top: -20px;
}
.blockquote-center::after {
    background-image: url(../images/quote-r.svg);
    background-position: 100% 8px;
    border-bottom: 1px solid var(--color-contrast-low);
    bottom: -20px;
}
.blockquote-center div, .blockquote-center p {
    text-align: center !important;
    margin: 0;
}
.blockquote-center {
    border-left: 0;
}
// 自定义的引用样式
blockquote.question {
    color: #555;
    border-left: 4px solid rgb(16, 152, 173);
    background-color: rgb(227, 242, 253);
    margin-bottom: 20px;
}
// 自定义的数字块
span#inline-toc {
    display: inline-block;
    border-radius: 80% 100% 90% 20%;
    background-color: rgb(227, 242, 253);
    color: #555;
    padding: 0.05em 0.4em;
    margin: 2px 5px 2px 0px;
    line-height: 1.5;
}
// 友链样式
.blogroll {
    padding: 1rem 0;
    border: 2px solid transparent;
    border-bottom: 1px dashed var(--color-contrast-low);
    display: flex;
}
.blogroll .friend {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.blogroll .name {
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 6px;
}
.blogroll .excerpt {
    font-size:14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.blogroll .avatar {
    width: 4em !important;
    height: 4em !important;
    margin:0 !important;
    margin-right: 1em !important;
    border-radius:4px;   
}
// 自定义的页脚微信订阅号样式
.subscription-box {
    position: absolute;
    bottom: 1em;
    left: 1em;
    border-radius: 5px;
}
.subscription-menu {
    position: relative;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.subscription-icon {
    height: 100%;
    width: 100%;
}
.subscription-hover {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
    border-radius: 3px;
    border: 1px solid var(--color-contrast-lower);
    background-color: var(--color-bg);
    transition: all 0.35s ease-in-out;
    z-index: 1024;
    opacity: 0;
}
.subscription-qrcode {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
}
.subscription-menu:hover .subscription-hover {
    bottom: 24px;
    left: 24px;
    height: 170px;
    width: 150px;
    opacity: 1;
}
.subscription-description {
    position: absolute;
    bottom: 1%;
    left: 5%;
    right: 5%;
    font-size: 12px;
    transition: all 0.35s cubic-bezier(1, 0, 0, 1);
    opacity: 0;
}
.subscription-menu:hover .subscription-description {
    opacity: 1;
}
// 段落样式
.post-body h2 {
    border-bottom: 1px solid var(--color-contrast-lower);
}
.post-body h3 {
    border-bottom: 1px dotted var(--color-contrast-lower);
}
// 主页底部图标
.home .poetry {
    padding: 5em 1em 10em 1em;
    margin: 0 auto 0;
}
.home .life {
    color: hsl(260, 75%, 75%);
}
.home .study {
    color: hsl(220, 75%, 60%);
}
.home .series {
    color: hsl(180, 75%, 45%);
}
// 品牌栏自动隐藏
.site-brand {
    overflow: auto hidden;
}
.categories .tree {
    background-image: url(../images/categories-background.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom 22px right 38.4px;
}
@media (max-width: 656px){
    .categories .tree {
        background-image: none;
    }
}
