// 首字下沉
.drop-cap {
    margin-top: 16px !important;
}
// 引用样式
blockquote {
    font-family: 'EB Garamond', 'STKaiti', 'KaiTi', 'SimKai', 'Noto Serif SC', sans-serif;
}
:root {
    --color-div-danger: #d9534f;
	--color-div-danger-bg: #fcf1f2;
	--color-div-warning: #f0ad4e;
	--color-div-warning-bg: #fdf8ea;
	--color-div-success: #5cb85c;
	--color-div-success-bg: #eff8f0;
	--color-div-info: #428bca;
	--color-div-info-bg: #eef7fa;
	--color-div-primary: #6f42c1;
	--color-div-primary-bg: #f5f0fa;
	--color-div-default: #777;
	--color-div-default-bg: #f7f7f7;
}
[data-theme="dark"] {
    --color-div-danger-bg: rgba(38,38,38,0.5);
	--color-div-warning-bg: rgba(38,38,38,0.5);
	--color-div-success-bg: rgba(38,38,38,0.5);
	--color-div-info-bg: rgba(38,38,38,0.5);
	--color-div-primary-bg: rgba(38,38,38,0.5);
	--color-div-default-bg: rgba(38,38,38,0.5);
}
// 自定义引用边框
p#div-danger, p#div-warning, p#div-success, p#div-info, p#div-primary, p#div-default {
    padding: 0.5em 1em;
    border-left: 3px solid #eee;
}
p#div-danger {
    background: var(--color-div-danger-bg);
    border-left-color: var(--color-div-danger);
}
p#div-warning {
    background: var(--color-div-warning-bg);
    border-left-color: var(--color-div-warning);
}
p#div-success {
    background: var(--color-div-success-bg);
    border-left-color: var(--color-div-success);
}
p#div-info {
    background: var(--color-div-info-bg);
    border-left-color: var(--color-div-info);
}
p#div-primary {
    background: var(--color-div-primary-bg);
    border-left-color: var(--color-div-primary);
}
p#div-default {
    background: var(--color-div-default-bg);
    border-left-color: var(--color-div-default);
}
.blockquote-center::after, .blockquote-center::before {
    background-repeat: no-repeat;
    background-size: 22px 22px;
    content: ' ';
    display: block;
    height: 24px;
    opacity: .2;
    //position: absolute;
    width: 100%;
}
.blockquote-center::before {
    background-image: url(../images/quote-l.svg);
    background-position: 0 -6px;
    border-top: 1px solid var(--color-contrast-low);
    top: -20px;
}
.blockquote-center::after {
    background-image: url(../images/quote-r.svg);
    background-position: 100% 8px;
    border-bottom: 1px solid var(--color-contrast-low);
    bottom: -20px;
}
.blockquote-center div, .blockquote-center p {
    text-align: center !important;
    margin: 0;
}
.blockquote-center {
    border-left: 0;
}
// 友链样式
#links {
    overflow: auto hidden;
    white-space: nowrap;
}
.links-content{
    margin-top:1rem;
}
.link-navigation::after {
    content: " ";
    display: block;
    clear: both;
}
.card {
    width: 250px;
    font-size: 1rem;
    padding: 10px 0 10px 30px;
    transition-duration: 0.15s;
    margin-bottom: 1rem;
    display:flex;
}	
.card:nth-child(odd) {
    float: left;
}
.card:nth-child(even) {
    float: left;
}
.card a {
     border:none; 
}
.card .ava {
    width: 3rem!important;
    height: 3rem!important;
    margin:0!important;
    margin-right: 1em!important;
    border-radius:4px;   
}
.card .card-header {
    font-style: italic;
    overflow: hidden;
    width: 100%;
}
.card .card-header a {
    font-style: normal;
    color: #2bbc8a;
    font-weight: bold;
    text-decoration: none;
}
.card .card-header a:hover {
    color: #a166ab;
    text-decoration: none;
}
.card .card-header .info {
    font-style:normal;
    color:#a3a3a3;
    font-size:14px;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
}
// 自定义的页脚微信订阅号样式
.weixin-box {
    position: absolute;
    bottom: 1em;
    left: 1em;
    border-radius: 5px;
}
.weixin-menu {
    position: relative;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url(/images/wechat.svg);
    background-size: 24px 24px;
}
.weixin-hover {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
    border-radius: 3px;
    background: url(/images/wechat-official-accounts.svg);
    border: 1px solid var(--color-contrast-lower);
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    transition: all 0.35s ease-in-out;
    z-index: 1024;
    opacity: 0;
}
.weixin-menu:hover .weixin-hover {
    bottom: 24px;
    left: 24px;
    height: 170px;
    width: 150px;
    opacity: 1;
}
.weixin-description {
    opacity: 0;
    position: absolute;
    bottom: 1%;
    left: 5%;
    right: 5%;
    font-size: 12px;
    transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}
.weixin-menu:hover .weixin-description {
    opacity: 1;
}
// footer 样式
.footer-inner {
    background: var(--color-contrast-lower);
}
// 段落样式
.post-body h2 {
    border-bottom: 1px solid var(--color-contrast-lower);
}
.post-body h3 {
    border-bottom: 1px dotted var(--color-contrast-lower);
}