<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}"{{ if and .Site.Params.enableDarkMode .Site.Params.overrideSystemPreferences }}{{ with .Site.Params.defaultTheme | default "light" }} data-theme="{{ . }}"{{ end }}{{ end }}>
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "footer.html" . }}
        </div>

        {{ partial "components/back-to-top.html" . }}
        {{ if and .Site.Params.enableSidebar .IsPage (.Params.toc | default .Site.Params.enableTOC) }}
        {{ partial "components/sidebar-toggle.html" . }}
        {{ partial "components/sidebar.html" . }}
        {{ end }}
        {{ partial "third-party/script.html" . }}
    </body>
</html>
