// mermaid

.mermaid {
    margin: 4em 0;
    text-align: center;
    overflow: auto hidden;
    font-size: .75em;
    svg{
        width: 100%;
        height: 100%;
    }
}

// katex

.katex {
    font-size: 1em !important;
}
