// https://www.w3.org/International/clreq/#id84
.emphasis-point {
    font-style: normal;

    -webkit-text-emphasis: '•';
    -moz-text-emphasis: '•';
    text-emphasis: '•'; /* U+2022 */

    -webkit-text-emphasis-position: under;
    -moz-text-emphasis-position: under;
    text-emphasis-position: under;
}

// Safari 不渲染着重号，降级为虚线下划线
.safari-only {
    .emphasis-point {
        text-decoration-line: underline;
        text-decoration-style: dashed;
        text-underline-offset: 0.25em;
    }
}
