// 个人收藏页面样式

.collection-link {
    display: grid;
    grid-gap: 0 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
}

.collection {
    padding: 1em 0;
    border-bottom: 1px dashed var(--color-contrast-low);
    transition: all .5s;
    text-align: center;
    overflow: hidden;
    .overview {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0.5em;
    }
    .name {
        font-weight: bold;
    }
    .excerpt {
        font-size: 0.875em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .cover {
        //width: 9.99em !important;
        //height: 13.32em !important;
        margin: 1em auto 0 !important;
        z-index: 0;
        object-fit: cover;
    }
    .collection-link-text {
        text-decoration: none !important;
    }
}

@media (max-width: $maxWidth) {
    .collection-link {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 27em) {
    .collection-link {
        grid-template-columns: 1fr;
    }
}