:root {
    --waline-theme-color: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.3);
    --waline-active-color: var(--color-primary);
}

html[data-theme="dark"] {
    --waline-bgcolor: hsl(231, 14%, 10%) !important;
    --waline-bgcolor-light: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.5) !important;
}