:root {
    --waline-theme-color: hsl(220deg 50% 56%) !important;
    --waline-active-color: var(--color-primary) !important;
}

html[data-theme="dark"] {
    --waline-theme-color: hsl(201deg 45% 52%) !important;
    --waline-bgcolor: hsl(231, 14%, 10%) !important;
    --waline-bgcolor-light: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.5) !important;
}