// 顶栏布局
@import "header-layout";

// 字体设定
@import "font";

// 简码设定
@import "shortcodes";

// 正文设定
@import "post";

// 订阅
@import "subscription";

// 友链
@import "blogroll";

.brand {
    white-space: nowrap;
}
.site-brand {
    overflow: auto hidden;
}

/*.header {
    background: none;
    border-bottom: 3px solid var(--color-contrast-high);
    margin: 0 auto 2px;
    padding: 6em 0;
    max-width: $maxWidth;
}

.menu {
    background: none;
    border-top: 1px solid var(--color-contrast-high);
    border-bottom: 1px solid var(--color-contrast-high);
    margin: 0 auto;
    max-width: $maxWidth;
}*/