// 自定义居中对齐引用样式

.blockquote-center {
    border-left: 0;
    padding-left: 0;
    p{
        text-align: center !important;
        margin: 0;
    }
    &::before {
        background-image: url(../images/quote-l.svg);
        background-position: 0 -6px;
        border-top: 1px solid var(--color-contrast-low);
        background-repeat: no-repeat;
        background-size: 1.5em;
        content: ' ';
        display: block;
        height: 1.5em;
        opacity: .2;
    }
    &::after {
        background-image: url(../images/quote-r.svg);
        background-position: 100% 6px;
        border-bottom: 1px solid var(--color-contrast-low);
        background-repeat: no-repeat;
        background-size: 1.5em;
        content: ' ';
        display: block;
        height: 1.5em;
        opacity: .2;
    }
}

// 友链样式

.blogroll {
    padding: 1em 0;
    border: 2px solid transparent;
    border-bottom: 1px dashed var(--color-contrast-low);
    display: flex;
    .friend {
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .name {
        font-weight: bold;
        margin: 0.375em 0;  
    }
    .excerpt {
        font-size: 0.875em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .avatar {
        width: 4em !important;
        height: 4em !important;
        margin: 0 1em 0 0 !important;
        z-index: 0;
    }
}

// 自定义的页脚微信订阅号样式

.subscription-icon {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    transition: fill .5s;
    &:hover {
        fill: #7BB32E;
    }
}
.subscription-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    cursor: pointer;
    border: 1px solid var(--color-contrast-lower);
    background-color: var(--color-bg);
    transition: all 0.35s ease-in-out;
    z-index: 5;
    opacity: 0;
}
.subscription-box {
    position: absolute;
    bottom: 1em;
    left: 1.2em;
    &:hover {
        .subscription-hover {
            bottom: 1.5em;
            left: 1.5em;
            height: 12em;
            width: 10.6em;
            opacity: 1;
        }
    }
}
.subscription-qrcode {
    position: absolute;
    bottom: 0.7em;
    left: 0;
    height: 100%;
    width: 100%;
}
.subscription-description {
    position: absolute;
    bottom: 1%;
    left: 5%;
    right: 5%;
    font-size: 80%;
    overflow: hidden;
    white-space: nowrap;
}

// 段落样式

.post-body {
    h2 {
        border-bottom: 1px solid var(--color-contrast-lower);
    }
    h3 {
        border-bottom: 1px dotted var(--color-contrast-lower);
    }
} 

// 主页底部图标

/*.home {
    .life {
        color: hsl(260, 75%, 75%);
    }
    .tech {
        color: hsl(220, 75%, 60%);
    }
    .series {
        color: hsl(180, 75%, 45%);
    }
}*/

// 弹性布局调整

.brand {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: bold;
    line-height: 1;
}
.nav {
    font-size: 1em;
    margin-top: 0.4em;
}
.home .poetry {
    padding: 10em 1em;
}
.menu-item .icon {
    display: none;
}
@media (max-width: $maxWidth) {
    .nav {
        margin: 2em 0;
    }
    .menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .menu-item .icon {
        display: inline-block;
    }
    .menu-item-name {
        font-size: 80%;
    }
}
.nav-toggle {
    transform: translateY(0.4em);
}

// mermaid

.mermaid {
    margin: 0 0 1em;
    overflow: auto hidden;
}

// 可变字体 https://github.com/TypeNetwork/Amstelvar

@font-face {
    font-family: 'Amstelvar';
    font-display: swap;
    src: url('/fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
         url('/fonts/Amstelvar-Roman-VF.woff2') format('woff2');
    font-weight: 100 900;
    font-stretch: 50% 125%;
    font-style: normal;
}
@font-face {
    font-family: 'Amstelvar';
    font-display: swap;
    src: url('/fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
         url('/fonts/Amstelvar-Italic-VF.woff2') format("woff2");
    font-weight: 100 900;
    font-stretch: 50% 125%;
    font-style: italic;
}
:root {
    --text-wdth: 90;
    --text-opsz: 80;
    --text-YTLC: 460;
}
body {
    font-variation-settings:
        'wdth' var(--text-wdth),
        'opsz' var(--text-opsz),
        'YTLC' var(--text-YTLC);
}
.list-item-time {
    font-feature-settings: 'tnum';
}