// 页面平滑滚动，用以代替 Smooth Scroll

html {
	scroll-behavior: smooth;
}

// 文中超链接

.post-body a {
    text-decoration-color: var(--color-contrast-medium);
}

// 搜索样式

input#search-input {
    font-family: "Amstelvar", serif;
}

// 评论加载按钮

#load-comments {
    border-radius: 0;
    background-color: var(--color-bg);
    border: 1px solid hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), 0.5);
    &:hover {
        border-radius: 0;
        color: var(--color-primary);
        background-color: var(--color-bg);
        border: 1px solid hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.5);
    }
}

// 友链样式

.blogroll {
    padding: 1em 0;
    border: 2px solid transparent;
    border-bottom: 1px dashed var(--color-contrast-low);
    display: flex;
    transition: all .5s;
    .friend {
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .name {
        font-weight: bold;
        margin: 0.375em 0;  
    }
    .excerpt {
        font-size: 0.875em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .avatar {
        width: 4em !important;
        height: 4em !important;
        margin: 0 1em 0 0 !important;
        z-index: 0;
    }
}

// 自定义的页脚微信订阅号样式

.subscription-icon {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    transition: fill .5s;
    &:hover {
        fill: #7BB32E;
    }
}
.subscription-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    cursor: pointer;
    border: 1px solid var(--color-contrast-lower);
    background-color: var(--color-bg);
    transition: all 0.35s ease-in-out;
    z-index: 5;
    opacity: 0;
}
.subscription-box {
    position: absolute;
    bottom: 1em;
    left: 1.2em;
    &:hover {
        .subscription-hover {
            bottom: 1.5em;
            left: 1.5em;
            height: 12em;
            width: 10.6em;
            opacity: 1;
        }
    }
}
.subscription-qrcode {
    position: absolute;
    bottom: 0.7em;
    left: 0;
    height: 100%;
    width: 100%;
}
.subscription-description {
    position: absolute;
    bottom: 1%;
    left: 5%;
    right: 5%;
    font-size: 80%;
    overflow: hidden;
    white-space: nowrap;
}

// 段落样式

.post-body {
    h2 {
        border-bottom: 1px solid var(--color-contrast-lower);
        transition: all .5s;
    }
    h3 {
        border-bottom: 1px dotted var(--color-contrast-lower);
        transition: all .5s;
    }
}

// 弹性布局调整

.brand {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: bold;
    line-height: 1;
}
.nav {
    font-size: 1em;
    margin-top: 0.4em;
}
.home .poetry {
    padding: 10em 1em;
}
.menu-item {
    .tags, .categories, .series, .archives, .friends, .about {
        display: none;
    }
}
@media (max-width: $maxWidth) {
    .nav {
        margin: 2em 0;
    }
    .menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .menu-item {
        .tags, .categories, .series, .archives, .friends, .about {
            display: inline-block;
        }
    }
    .menu-item-name {
        font-size: 80%;
    }
}
.nav-toggle {
    transform: translateY(0.4em);
}

// mermaid

.mermaid {
    margin: 4em 0;
    text-align: center;
    overflow: auto hidden;
    font-size: .75em;
    svg{
        width: 100%;
        height: 100%;
    } 
}

// katex

.katex {
    font-size: 1em !important;
}

// 代码高亮

:root {
    --chroma-deleted-color: #aa0000;
    --chroma-inserted-color: #00aa00;
}
:root[data-theme="dark"] {
    --chroma-deleted-color: #f92672;
    --chroma-inserted-color: #a6e22e;
}
.chroma .gi {
    color: var(--chroma-inserted-color);
    font-weight: normal;
}
.chroma-dark .gi {
    color: var(--chroma-inserted-color);
    font-weight: normal;
}

// 可变字体 https://github.com/TypeNetwork/Amstelvar

// Magic adjustment for en
@if ($lineHeight != 2) {
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../../fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
             url('../../fonts/Amstelvar-Roman-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: normal;
    }
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../../fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
             url('../../fonts/Amstelvar-Italic-VF.woff2') format("woff2");
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: italic;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: swap;
        src: url('../../fonts/JetBrainsMono-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: swap;
        src: url('../../fonts/JetBrainsMono-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: swap;
        src: url('../../fonts/JetBrainsMono-Italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
    }
} @else {
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
             url('../fonts/Amstelvar-Roman-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: normal;
    }
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
             url('../fonts/Amstelvar-Italic-VF.woff2') format("woff2");
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: italic;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: swap;
        src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: swap;
        src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: swap;
        src: url('../fonts/JetBrainsMono-Italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
    }
}
:root {
    --text-wdth: 90;
    --text-opsz: 40;
    --text-YTLC: 460;
}
body {
    font-variation-settings:
        'wdth' var(--text-wdth),
        'opsz' var(--text-opsz),
        'YTLC' var(--text-YTLC);
}
.post-title {
    font-variation-settings:
        'wght' 550,
        'opsz' 60,
        'YOPQ' 90;
}
.list-item-time {
    font-feature-settings: 'tnum';
}

// 短代码

// quote

blockquote.quote {
    position: relative;
    margin: 2em auto;
    padding-left: 3em;
    border: none;
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        color: var(--color-contrast-low);
        font-family: 'JetBrains Mono', 'Amstelvar', 'Noto Serif SC', serif;
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
    }
    &.poetry {
        display: table;
        padding: 0;
        &::before {
            left: -1em;
        }
        p:last-child {
            margin: 0;
        }
    }
    &.en {
        p {
            line-height: 1.618;
            text-align: left;
            hyphens: auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
        }
    }
}
@media (max-width: $maxWidth) {
    blockquote.quote {
        &.poetry {
            padding-left: 3em;
            &::before {
                left: 0;
            }
        }
    }
}

// quote-center

blockquote.quote-center {
    position: relative;
    border-left: none;
    padding-left: 0;
    border-top: 1px solid var(--color-contrast-lower);
    border-bottom: 1px solid var(--color-contrast-lower);
    p{
        text-align: center !important;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        color: var(--color-contrast-low);
        font-size: 3em;
        font-weight: bold;
        margin-top: -0.42em;
    }
    &::after {
        position: absolute;
        right: 0;
        content: '”';
        color: var(--color-contrast-low);
        font-size: 3em;
        font-weight: bold;
        margin-top: -0.7em;
    }
}

// notice

.notice {
    position:relative;
    padding: 1em 1em 1em 2.5em;
    margin-bottom: 1em;
    border-radius: 4px;
    p:last-child {
        margin-bottom: 0;
    }
    .notice-title {
        position: absolute;
        left: 0.8em;
        .notice-icon {
            width: 1.2em;
            height: 1.2em;
        }
    }
    &.notice-warning {
        background: hsla(0, 65%, 65%, 0.15);
        border-left: 5px solid hsl(0, 65%, 65%);
        .notice-title {
            color: hsl(0, 65%, 65%);
        }
    }
    &.notice-info {
        background: hsla(30, 80%, 70%, 0.15);
        border-left: 5px solid hsl(30, 80%, 70%);
        .notice-title {
            color: hsl(30, 80%, 70%);
        }
    }
    &.notice-note {
        background: hsla(200, 65%, 65%, 0.15);
        border-left: 5px solid hsl(200, 65%, 65%);
        .notice-title {
            color: hsl(200, 65%, 65%);
        }
    }
    &.notice-tip {
        background: hsla(140, 65%, 65%, 0.15);
        border-left: 5px solid hsl(140, 65%, 65%);
        .notice-title {
            color: hsl(140, 65%, 65%);
        }
    }
}

[data-theme="dark"] .notice {
    &.notice-warning {
        background: hsla(0, 25%, 35%, 0.15);
        border-left: 5px solid hsl(0, 25%, 35%);
        .notice-title {
            color: hsl(0, 25%, 35%);
        }
    }
    &.notice-info {
        background: hsla(30, 25%, 35%, 0.15);
        border-left: 5px solid hsl(30, 25%, 35%);
        .notice-title {
            color: hsl(30, 25%, 35%);
        }
    }
    &.notice-note {
        background: hsla(200, 25%, 35%, 0.15);
        border-left: 5px solid hsl(200, 25%, 35%);
        .notice-title {
            color: hsl(200, 25%, 35%);
        }
    }
    &.notice-tip {
        background: hsla(140, 25%, 35%, 0.15);
        border-left: 5px solid hsl(140, 25%, 35%);
        .notice-title {
            color: hsl(140, 25%, 35%);
        }
    }
}

// GitHub

.github {
    border: 1px solid var(--color-contrast-low);
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    .github-icon {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
        fill: var(--color-contrast-high);
        transition: all .5s;
    }
    .name {
        font-weight: bold;
        color: var(--color-primary);
        text-decoration: none;
    }
    .description {
        margin-top: 0.5em;
        margin-bottom: 1em;
        color: var(--color-contrast-high);
        text-align: justify;
        font-size: 90%;
        transition: all .5s;
    }
    .language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
    }
    .language-name {
        color: var(--color-contrast-high);
        font-size: 90%;
        margin-left: 0.5em;
        transition: all .5s;
    }
}