// 自定义字体样式

// 可变字体设置
:root {
    --text-wdth: 100;
    --text-opsz: 40;
    --text-XOPQ: 145;
    --text-YTLC: 480;
    --text-YTUC: 710;
    --text-YTAS: 726;
    --text-YTFI: 720;
}

body {
    font-variation-settings:
        'wdth' var(--text-wdth),
        'opsz' var(--text-opsz),
        'XOPQ' var(--text-XOPQ),
        'YTLC' var(--text-YTLC),
        'YTUC' var(--text-YTUC),
        'YTAS' var(--text-YTAS),
        'YTFI' var(--text-YTFI);
}

.post-title {
    font-variation-settings:
        'wght' 550,
        'opsz' 30,
        'YOPQ' 100,
        'YTLC' 570,
        'YTUC' var(--text-YTUC);
}

.list-title {
    font-variation-settings:
        'wght' 550,
        'opsz' 30,
        'YOPQ' 100,
        'YTLC' 570,
        'YTUC' var(--text-YTUC);
}

.list-item {
    font-variation-settings:
        'wght' 260,
        'wdth' 103,
        'opsz' 20,
        'YOPQ' 90,
        'YTLC' 570,
        'YTUC' var(--text-YTUC);
}

.list-year {
    font-variation-settings:
        'wdth' 100,
        'opsz' 20,
        'YOPQ' 100,
        'YTUC' var(--text-YTUC);
}


// 着重号样式

.emphasis-point {
    font-family: $fontFamilyBody;
}

.safari-only {
    /* Safari-only fixes */
    .emphasis-point {
        text-decoration-line: underline;
        text-decoration-style: dashed;
        text-underline-offset: 0.25em;
    }
}

//* {
//    font-feature-settings: 'halt';
//}

.brand {
    font-family: 'Noto Serif TC', 'Noto Serif SC', serif;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1;
}

.list-item-time {
    font-feature-settings: 'tnum';
}

.post-meta {
    font-family: 'glyph-correction', 'LXGW WenKai TC', serif;
}

.post-body {
    .caption {
        font-family: 'glyph-correction', 'LXGW WenKai TC', serif;
    }
}

.post-tags {
    font-family: 'glyph-correction', 'LXGW WenKai TC', serif;
}

strong {
    font-family: 'glyph-correction', 'Amstelvar', 'Noto Serif TC', 'Noto Serif SC', serif;
}

//自适应屏幕宽度
/*
@media (max-width: 500px) {
    body {
        font-size: $fontSize * 0.875;
    }
    .drop-cap {
        font-size: $fontSize * 0.875 * 3;
        margin-right: $lineHeight * $fontSize * 0.875 - $fontSize * 0.875;
        margin-top: $fontSize * 0.875 / $lineHeight;
        line-height: $lineHeight * $fontSize * 0.875;
    }
}*/