// 可变字体 https://github.com/TypeNetwork/Amstelvar

// Magic adjustment for en


@font-face {
    font-family: 'Amstelvar';
    font-display: swap;
    src: url('#{$baseRelURL}/fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
            url('#{$baseRelURL}/fonts/Amstelvar-Roman-VF.woff2') format('woff2');
    font-weight: 100 900;
    font-stretch: 50% 125%;
    font-style: normal;
}
@font-face {
    font-family: 'Amstelvar';
    font-display: swap;
    src: url('#{$baseRelURL}/fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
            url('#{$baseRelURL}/fonts/Amstelvar-Italic-VF.woff2') format("woff2");
    font-weight: 100 900;
    font-stretch: 50% 125%;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('#{$baseRelURL}/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('#{$baseRelURL}/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('#{$baseRelURL}/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

:root {
    --text-wdth: 90;
    --text-opsz: 40;
    --text-YTLC: 460;
}

body {
    font-variation-settings:
        'wdth' var(--text-wdth),
        'opsz' var(--text-opsz),
        'YTLC' var(--text-YTLC);
}

.post-title {
    font-variation-settings:
        'wght' 550,
        'opsz' 60,
        'YOPQ' 90;
}

.list-item-time {
    font-feature-settings: 'tnum';
}

//自适应屏幕宽度

@media (max-width: 500px) {
    body {
        font-size: $fontSize * 0.875;
    }
    .drop-cap {
        font-size: $fontSize * 0.875 * 3;
        margin-right: $lineHeight * $fontSize * 0.875 - $fontSize * 0.875;
        margin-top: $fontSize * 0.875 / $lineHeight;
        line-height: $lineHeight * $fontSize * 0.875;
    }
}