// 背景透明度
code {
    background-color: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.7);
}

pre {
    background-color: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.7);
}

.chroma {
    background-color: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.7);
}

// 增删行颜色
:root {
    --chroma-deleted-color: #aa0000;
    --chroma-inserted-color: #00aa00;
}
:root[data-theme="dark"] {
    --chroma-deleted-color: #f92672;
    --chroma-inserted-color: #a6e22e;
}
.chroma .gi,
.chroma-dark .gi {
    color: var(--chroma-inserted-color);
    font-weight: normal;
}
