{{ define "main" }}
    <main class="main single" id="main">
        <div class="main-inner">

            {{ $attrs := partial "utils/data-attributes.html" . }}
            
            <article class="content post h-entry" {{- with $attrs.align }} data-align="{{ . }}"{{ end }}>
                
                <h1 class="post-title p-name">{{ (partial "utils/title.html" (dict "$" $ "title" $.Title)).htmlTitle }}</h1>

                {{ if .Site.Params.displayPostDescription }}
                    {{ with .Params.description }}
                        {{- $raw := . -}}
                        <div class="post-description p-summary">{{ partial "utils/markdownify.html" (dict "$" $ "raw" $raw "isContent" false) }}</div>
                    {{ end }}
                {{ end }}

                <div class="post-body e-content">
                    <div class="blogroll-link">

                        {{ range .Site.Data.blogroll }}
                            {{ range sort . "weight" }}
                                <a class="blogroll" href="{{ .url }}" target="_blank">
                                    <img class="avatar" src="{{ .avatar }}"/>
                                    <div class="friend">
                                        <div class="name">{{ .name }}</div>
                                        <div class="excerpt">{{ .description }}</div>
                                    </div>  
                                </a>
                            {{ end }}
                        {{ end }}

                    </div>
                    {{ partial "utils/content.html" . }}
                </div>

            </article>

            {{ partial "components/comments.html" . }}

        </div>
    </main>
{{ end }} 