{{ define "main" }}
    {{- $Deliver := . -}}
    <main class="main single" id="main">
        <div class="main-inner">
            <article class="content post">
                
                <h1 class="post-title">{{ .Title }}</h1>

                {{ if .Site.Params.displayPostDescription }}
                    {{ with .Params.description }}
                        {{- $raw := . -}}
                        {{- partial "utils/markdownify.html" (dict "Deliver" $Deliver "raw" $raw "isContent" false) -}}
                        {{- $Content := $Deliver.Scratch.Get "Content" -}}
                        <div class="post-description">{{ $Content | safeHTML }}</div>
                    {{ end }}
                {{ end }}

                {{- partial "utils/content.html" . -}}
                {{- $Content := .Scratch.Get "Content" -}}
                <div class="post-body">
                    {{ range .Site.Data.blogroll }}
                        {{ range sort . "weight" }}
                            <div class="blogroll">
                                <img class="avatar" src="{{ .avatar }}"/>
                                <a class="friend" href="{{ .url }}" target="_blank">
                                    <div class="name">{{ .name }}</div>
                                    <div class="excerpt">{{ .description }}</div>
                                </a>  
                            </div>
                        {{ end }}
                    {{ end }}
                    {{- $Content -}}
                </div>

            </article>

            {{ partial "components/comments.html" . }}

        </div>
    </main>
{{ end }} 