<script src="/js/photo-gallery.min.js"></script>
<link rel="stylesheet" href="/css/photo-gallery.min.css">

<div class="photo-gallery">
    {{/* 图片前缀：本地留空 / 启用 CDN 就打开下面一行 */}}
    {{ $cdnPrefix := "https://guanqr.oss-cn-hangzhou.aliyuncs.com" }}

    {{ $sortedPhotos := sort .Site.Data.photo.photo ".time" "desc" }}

    {{ range $sortedPhotos }}
    {{ $imgUrl := printf "%s%s" $cdnPrefix .src }}
        <div class="photo-item">
            <div class="photo-bg" style="background-image: url('{{ $imgUrl }}')"></div>
            <img class="lazy-image" data-src="{{ $imgUrl }}" alt="{{ .alt }}">
            <div class="photo-caption">
                <span class="title">{{ .alt }}</span>
                <div>{{ .focus }}mm • f/{{ .aperture }} • {{ .shutter }}s • ISO{{ .iso }}</div>
                <div>{{ .place }} • {{ .time }}</div>
            </div>
        </div>
    {{ end }}
</div>

<div class="load-more-container">
    <div class="load-more-btn">{{ i18n "LoadMoreBtn" }}</div>
</div>