{{ define "main" }}
    <main class="main list" id="main">
        <div class="main-inner">
            <div class="content list-cards">
                <h1 class="list-title">{{ .Title }}</h1>
                <div class="post-body">
                    <hr class="cards" />
                    {{ with index .Params.images 0 }}
                        <img src="{{ . }}" alt="{{ path.Base . }}" />
                    {{ end }}
                    <ul class="list-part">
                        {{ partial "utils/content.html" . }}
                    </ul>
                    <hr class="cards" />
                </div>
            </div>
            {{ partial "components/post-share.html" . }}
        </div>
    </main>
{{ end }}