{{ define "main" }}
    <main class="main single" id="main">
        <div class="main-inner">
            <article class="content post" >
                <h1 class="post-title">{{ .Title }}</h1>
                <div class="post-body cards-body">
                    <hr class="cards" />
                    {{ partial "utils/content.html" . }}
                    <hr class="cards" />
                </div>
            </article>
            {{ partial "components/comments.html" . }}
        </div>
    </main>
{{ end }} 