{{ define "main" }}
    <main class="main single" id="main">
        <div class="main-inner">
            {{ $attrs := partial "utils/data-attributes.html" . }}
            <article class="content post h-entry" {{- with $attrs.align }} data-align="{{ . }}"{{ end }}>
                <h1 class="post-title p-name">{{ (partial "utils/title.html" (dict "$" $ "title" $.Title)).htmlTitle }}</h1>
                <div class="post-body cards-body">
                    <hr class="cards" />
                    {{ partial "utils/content.html" . }}
                    <hr class="cards" />
                </div>
            </article>
            {{ partial "components/comments.html" . }}
        </div>
    </main>
{{ end }} 

